#small-container {
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 5vh;
  display: grid;
  grid-template-areas: 'create delete' 'create message';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#create-product {
  grid-area: create;
}
#delete-product {
  grid-area: delete;
}
#message {
  grid-area: message;
}
