#small-container {
  width: 80%;
  height: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
#create-product {
  margin-top: 10vh;
  height: 100%;
  width: 30%;
}
#delete-product {
  margin-top: 10vh;
  height: 100%;
  width: 30%;
}
#message {
  margin-top: 10vh;
  height: 100%;
  width: 30%;
}
